<a href="https://colab.research.google.com/github/LaDiosaNegra/Kristal_SiliconAccra/blob/main/CarDataPandasNumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np # Import numpy for standard deviation calculation

car_name = [
        'Toyota Camry' , 'Honda Accord', 'Nissan Altima' , ' Hyundai Sonata',
        'Volkswagen Passat', 'Prosche 911', 'BMW M3', 'Mercedes-AMG C63 S',
        'Audi RS 5 Sportback', 'Audi SQ5', 'Genesis G90', 'Jaguar XJ', 'Honda Pilot',
        'Mazda 3', 'Kia Rio', 'Nissan Maxima', 'Kantanka Onantefo', 'Tesla Model 3',
        'Honda Civic', 'Alfa Romeo Giulia', 'Infiniti Q50', 'Bugatti Veyron',
        'Nissan Sentra', 'Mazda3', 'Audi A3', 'BMW 1 Series', 'Acura TLX',
        'Mercedes-Benz A-Class', 'Lexus IS', 'Jaguar XF', 'Volvo V60',
         'Jeep Grand Cherokee', 'Pagani Huayra', 'Mitsubishi Outlander',
        'Bugatti Veyron', 'McLaren 720S','Land Rover Discovery', 'Ford F-150',
        'Lexus RX','Kia Sportage','Renault Clio', 'Peugeot 3008', 'Suzuki Swift',
        'Jeep Wrangler', 'Volkswagen Polo', 'Maserati Levante', 'Bugatti Chiron',
        'Bentley Continental GT', 'Rolls-Royce Phantom','Ford Mustang']


# converts car date into a pandas Series (each car becomes an element in the Series)
car_series = pd.Series(car_name)

# calculates the length of each car name and creates a new pandas Series
car_name_lengths = car_series.str.len()

# longest length
longest_car_name = car_series.str.len().max()

 shortest length
shortest_car_name = car_series.str.len().min()

In [ ]:
import pandas as pd
import numpy as np # Import numpy for standard deviation calculation

car_name = [
        'Toyota Camry' , 'Honda Accord', 'Nissan Altima' , ' Hyundai Sonata',
        'Volkswagen Passat', 'Prosche 911', 'BMW M3', 'Mercedes-AMG C63 S',
        'Audi RS 5 Sportback', 'Audi SQ5', 'Genesis G90', 'Jaguar XJ', 'Honda Pilot',
        'Mazda 3', 'Kia Rio', 'Nissan Maxima', 'Kantanka Onantefo', 'Tesla Model 3',
        'Honda Civic', 'Alfa Romeo Giulia', 'Infiniti Q50', 'Bugatti Veyron',
        'Nissan Sentra', 'Mazda3', 'Audi A3', 'BMW 1 Series', 'Acura TLX',
        'Mercedes-Benz A-Class', 'Lexus IS', 'Jaguar XF', 'Volvo V60',
         'Jeep Grand Cherokee', 'Pagani Huayra', 'Mitsubishi Outlander',
        'Bugatti Veyron', 'McLaren 720S','Land Rover Discovery', 'Ford F-150',
        'Lexus RX','Kia Sportage','Renault Clio', 'Peugeot 3008', 'Suzuki Swift',
        'Jeep Wrangler', 'Volkswagen Polo', 'Maserati Levante', 'Bugatti Chiron',
        'Bentley Continental GT', 'Rolls-Royce Phantom','Ford Mustang']


# converts car date into a pandas Series (each car becomes an element in the Series)
car_series = pd.Series(car_name)

# calculates the length of each car name and creates a new pandas Series
car_name_lengths = car_series.str.len()

# longest length
longest_car_name = car_series.str.len().max()

 shortest length
shortest_car_name = car_series.str.len().min()

In [ ]:
import pandas as pd
import numpy as np # Import numpy for standard deviation calculation

car_name = [
        'Toyota Camry' , 'Honda Accord', 'Nissan Altima' , ' Hyundai Sonata',
        'Volkswagen Passat', 'Prosche 911', 'BMW M3', 'Mercedes-AMG C63 S',
        'Audi RS 5 Sportback', 'Audi SQ5', 'Genesis G90', 'Jaguar XJ', 'Honda Pilot',
        'Mazda 3', 'Kia Rio', 'Nissan Maxima', 'Kantanka Onantefo', 'Tesla Model 3',
        'Honda Civic', 'Alfa Romeo Giulia', 'Infiniti Q50', 'Bugatti Veyron',
        'Nissan Sentra', 'Mazda3', 'Audi A3', 'BMW 1 Series', 'Acura TLX',
        'Mercedes-Benz A-Class', 'Lexus IS', 'Jaguar XF', 'Volvo V60',
         'Jeep Grand Cherokee', 'Pagani Huayra', 'Mitsubishi Outlander',
        'Bugatti Veyron', 'McLaren 720S','Land Rover Discovery', 'Ford F-150',
        'Lexus RX','Kia Sportage','Renault Clio', 'Peugeot 3008', 'Suzuki Swift',
        'Jeep Wrangler', 'Volkswagen Polo', 'Maserati Levante', 'Bugatti Chiron',
        'Bentley Continental GT', 'Rolls-Royce Phantom','Ford Mustang']


# converts car date into a pandas Series (each car becomes an element in the Series)
car_series = pd.Series(car_name)

# calculates the length of each car name and creates a new pandas Series
car_name_lengths = car_series.str.len()

# longest length
longest_car_name = car_series.str.len().max()

# shortest length
shortest_car_name = car_series.str.len().min()

# average length
average_car_name = car_series.str.len().mean()

#filters car_series searching for car names with same length as the longest car name. # Converts filtered series to a string.
#longest_car_name = car_series[car_name_lengths == longest_car_name].to_string()
#filters car_series searching for car names with same length as the shortest car name. # Converts filtered series to a string.
#shortest_car_name = car_series[car_name_lengths == shortest_car_name].to_string()


print("Longest car name length:", longest_car_name)
print("Shortest car name length:", shortest_car_name)
print("Average car name length:", average_car_name)

Longest car name length: 22
Shortest car name length: 6
Average car name length: 12.84

In [ ]:
import pandas as pd
import numpy as np # Import numpy for standard deviation calculation

car_name = [
        'Toyota Camry' , 'Honda Accord', 'Nissan Altima' , ' Hyundai Sonata',
        'Volkswagen Passat', 'Prosche 911', 'BMW M3', 'Mercedes-AMG C63 S',
        'Audi RS 5 Sportback', 'Audi SQ5', 'Genesis G90', 'Jaguar XJ', 'Honda Pilot',
        'Mazda 3', 'Kia Rio', 'Nissan Maxima', 'Kantanka Onantefo', 'Tesla Model 3',
        'Honda Civic', 'Alfa Romeo Giulia', 'Infiniti Q50', 'Bugatti Veyron',
        'Nissan Sentra', 'Mazda3', 'Audi A3', 'BMW 1 Series', 'Acura TLX',
        'Mercedes-Benz A-Class', 'Lexus IS', 'Jaguar XF', 'Volvo V60',
         'Jeep Grand Cherokee', 'Pagani Huayra', 'Mitsubishi Outlander',
        'Bugatti Veyron', 'McLaren 720S','Land Rover Discovery', 'Ford F-150',
        'Lexus RX','Kia Sportage','Renault Clio', 'Peugeot 3008', 'Suzuki Swift',
        'Jeep Wrangler', 'Volkswagen Polo', 'Maserati Levante', 'Bugatti Chiron',
        'Bentley Continental GT', 'Rolls-Royce Phantom','Ford Mustang']


# converts car date into a pandas Series (each car becomes an element in the Series)
car_series = pd.Series(car_name)

# calculates the length of each car name and creates a new pandas Series
car_name_lengths = car_series.str.len()

# longest length
longest_car_name = car_series.str.len().max()

# shortest length
shortest_car_name = car_series.str.len().min()

# average length
average_car_name = car_series.str.len().mean()

#filters car_series searching for car names with same length as the longest car name. # Converts filtered series to a string.
#longest_car_name = car_series[car_name_lengths == longest_car_name].to_string()
#filters car_series searching for car names with same length as the shortest car name. # Converts filtered series to a string.
#shortest_car_name = car_series[car_name_lengths == shortest_car_name].to_string()


print("Longest car name length:", longest_car_name)
print("Shortest car name length:", shortest_car_name)
print("Average car name length:", average_car_name)

In [ ]:
import pandas as pd
import numpy as np # Import numpy for standard deviation calculation

car_name = [
        'Toyota Camry' , 'Honda Accord', 'Nissan Altima' , ' Hyundai Sonata',
        'Volkswagen Passat', 'Prosche 911', 'BMW M3', 'Mercedes-AMG C63 S',
        'Audi RS 5 Sportback', 'Audi SQ5', 'Genesis G90', 'Jaguar XJ', 'Honda Pilot',
        'Mazda 3', 'Kia Rio', 'Nissan Maxima', 'Kantanka Onantefo', 'Tesla Model 3',
        'Honda Civic', 'Alfa Romeo Giulia', 'Infiniti Q50', 'Bugatti Veyron',
        'Nissan Sentra', 'Mazda3', 'Audi A3', 'BMW 1 Series', 'Acura TLX',
        'Mercedes-Benz A-Class', 'Lexus IS', 'Jaguar XF', 'Volvo V60',
         'Jeep Grand Cherokee', 'Pagani Huayra', 'Mitsubishi Outlander',
        'Bugatti Veyron', 'McLaren 720S','Land Rover Discovery', 'Ford F-150',
        'Lexus RX','Kia Sportage','Renault Clio', 'Peugeot 3008', 'Suzuki Swift',
        'Jeep Wrangler', 'Volkswagen Polo', 'Maserati Levante', 'Bugatti Chiron',
        'Bentley Continental GT', 'Rolls-Royce Phantom','Ford Mustang']


# converts car date into a pandas Series (each car becomes an element in the Series)
car_series = pd.Series(car_name)

# calculates the length of each car name and creates a new pandas Series
car_name_lengths = car_series.str.len()

# longest length
longest_car_name = car_series.str.len().max()

# shortest length
shortest_car_name = car_series.str.len().min()

# average length
average_car_name = car_series.str.len().mean()

#filters car_series searching for car names with same length as the longest car name. # Converts filtered series to a string.
#longest_car_name = car_series[car_name_lengths == longest_car_name].to_string()
#filters car_series searching for car names with same length as the shortest car name. # Converts filtered series to a string.
#shortest_car_name = car_series[car_name_lengths == shortest_car_name].to_string()


print("Longest car name length:", longest_car_name)
print("Shortest car name length:", shortest_car_name)
print("Average car name length:", average_car_name)

In [ ]:
import pandas as pd
import numpy as np

# Create a dictionary of car information
car_dict = {}
car_dict["Names"] = ["Toyota Camry" , "Honda Accord", "Nissan Altima" , " Hyundai Sonata",
                    "Volkswagen Passat", "Prosche 911", "BMW M3", "Mercedes-AMG C63 S",
                    "Audi RS 5 Sportback", "Audi SQ5", "Genesis G90", "Jaguar XJ", "Honda Pilot",
                    "Mazda 3", "Kia Rio", "Nissan Maxima", "Kantanka Onantefo", "Tesla Model 3",
                    "Honda Civic", "Alfa Romeo Giulia", "Infiniti Q50", "Bugatti Veyron",
                    "Nissan Sentra", "Mazda3", "Audi A3", "BMW 1 Series", "Acura TLX",
                    "Mercedes-Benz A-Class", "Lexus IS", "Jaguar XF", "Volvo V60",
                    "Jeep Grand Cherokee", "Pagani Huayra", "Mitsubishi Outlander",
                    "Bugatti Veyron", "McLaren 720S","Land Rover Discovery", "Ford F-150",
                    "Lexus RX",'Kia Sportage','Renault Clio', 'Peugeot 3008', 'Suzuki Swift',
                    'Jeep Wrangler', 'Volkswagen Polo', 'Maserati Levante', 'Bugatti Chiron',
                    'Bentley Continental GT', 'Rolls-Royce Phantom','Ford Mustang']

# Generate random engine capacity and price
engine_capacity = np.random.randint(1, 6, 50)
price = np.random.normal(90000, 15000, 50)


# Create a dictionary of car information
car_dict["Engine Capacity"] = engine_capacity
car_dict["Price"] = price

# Creating a DataFrame
car_df = pd.DataFrame(car_dict)

# Adding dollar signs and commas to the prices, and only two decimals
price = ["{:,.2f}".format(p) for p in price]

print(car_df)

# Calculate the average cost of the cars
average_cost = car_df['Price'].mean()

# Find the maximum and minimum car prices
max_price = car_df['Price'].max()
min_price = car_df['Price'].min()

# Print the avg, min, and max
print(f"Average cost: {average_cost:,.2f}")
print(f"Maximum car price: {max_price:,.2f}")
print(f"Minimum car price: {min_price:,.2f}")

                     Names  Engine Capacity          Price
0             Toyota Camry                2   81136.101378
1             Honda Accord                3  101024.886891
2            Nissan Altima                5   83514.334719
3           Hyundai Sonata                4   89869.189005
4        Volkswagen Passat                3   75302.597297
5              Prosche 911                2  103576.573488
6                   BMW M3                1   81577.355716
7       Mercedes-AMG C63 S                4   73852.150030
8      Audi RS 5 Sportback                2  114732.606746
9                 Audi SQ5                3  126281.671737
10             Genesis G90                2   67882.967580
11               Jaguar XJ                3   73649.493397
12             Honda Pilot                5   79401.839653
13                 Mazda 3                1  103338.532686
14                 Kia Rio                3   80196.881394
15           Nissan Maxima                5  118996.789691
16       Kantanka Onantefo                5   95979.570649
17           Tesla Model 3                5  101042.622130
18             Honda Civic                4   79233.351565
19       Alfa Romeo Giulia                4   95522.358618
20            Infiniti Q50                5  106408.067734
21          Bugatti Veyron                5   90387.825609
22           Nissan Sentra                2   75907.535596
23                  Mazda3                1   94252.214077
24                 Audi A3                1   97660.621668
25            BMW 1 Series                1   85205.725438
26               Acura TLX                4   75602.908989
27   Mercedes-Benz A-Class                3   75774.169659
28                Lexus IS                5   79806.502863
29               Jaguar XF                1   70452.684525
30               Volvo V60                2   76911.009444
31     Jeep Grand Cherokee                5   94890.255555
32           Pagani Huayra                3   95745.734161
33    Mitsubishi Outlander                5   88236.153041
34          Bugatti Veyron                2  121104.105748
35            McLaren 720S                2   93250.835909
36    Land Rover Discovery                2  137086.898276
37              Ford F-150                4   94559.717770
38                Lexus RX                2   75826.080648
39            Kia Sportage                1   97629.585441
40            Renault Clio                4   89808.938807
41            Peugeot 3008                1  106554.558721
42            Suzuki Swift                5   63270.476505
43           Jeep Wrangler                5   69876.750310
44         Volkswagen Polo                2   71227.968539
45        Maserati Levante                2  108613.890214
46          Bugatti Chiron                3  104206.000138
47  Bentley Continental GT                1   79927.934694
48     Rolls-Royce Phantom                4   99581.900578
49            Ford Mustang                2   87064.815697
Average cost: 90,658.87
Maximum car price: 137,086.90
Minimum car price: 63,270.48